.btn{
    display:none;
}

@media (max-width: 500px) {
.btn{
    display:block;
     background: linear-gradient(to right, #54f01a, #1f9002); 
    font-size: 15px;
    color:white;
    margin-left: 30px;
    padding:6px;
    border:none;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;

&:hover{
 background: linear-gradient(to right, #46f307, #154e07); 
  font-size: 12px;
}

}


}