.text{
    background-color: rgb(219, 178, 235);
    width: 90%;
    margin-bottom: 5%;
}

.angrapa{
    color:white;
    font-family: "Manrope", sans-serif;
font-size: 24px;
font-weight: 200;
}

.river{
    font-size: 31px;
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    color:white;
}

.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
width:95%;
}

.back{
    width:500px;
    border-radius: 10%;
}

.busket{
    display:flex;
    flex-direction: column;
 margin-left: 5%;
}

.more{
    width:300px;
    border-radius: 30px;
    margin-right: 5%;
 
}


@media (max-width: 500px) {

    .text{
width:100%;
margin-bottom: 2%;
}
.busket{
 width:100%
}

.angrapa{
   
font-size: 17px;

}

.river{
    font-size: 21px;
 }

.container{
text-align: center;
    flex-direction: column;
    width:95%;
}

.back{
    width:90%;

}

.more{
    width:150px;
    margin-bottom:3% ;
}

.numbers{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

   }