.text{
    background-color: rgb(219, 178, 235);
    width:50%;
}

.angrapa{
    color:white;
    font-family: "Manrope", sans-serif;
font-size: 24px;
font-weight: 200;
}

.river{
    font-size: 31px;
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    color:white;
}

.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
margin-top: 5%;

}

.back{
    width:500px;
    border-radius: 10%;
}


@media (max-width: 500px) {

    .text{
width:90%;
margin-bottom: 2%;
}


.angrapa{
   
font-size: 17px;

}

.river{
    font-size: 21px;
 }

.container{
text-align: center;
    flex-direction: column;
    width:90%;
}

.back{
    width:90%;

}


   }