.splav{
    display:none;
}

.logo{
     display:none;
     width:90px;
}

@media (max-width: 500px) {
      .splav{
    display:block;
    font-family: "Lobster", sans-serif;
margin-left: 20px;
 }

.logo{
     display:block;
     width:15px;

} 

.pic{
    width:60px;

}
}
