.image{
    width:100%;
  
}

.imageContainer{
    width:300px;
}

.cardPosition{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card{
    margin:5px;
    flex-wrap: wrap;
    border:1px solid rgba(123, 121, 121, 0.404);
    border-radius: 10px;
}

.service{
    display:flex;
    justify-content: center;
    display:flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    font-size: 27px;
    color: red;
    font-weight: 400;
    margin-top: 10%;
}

.button{
    padding:10px;
    width:200px;
    border-radius: 10px;
    border:none;
    color:white;
    background-color: rgb(5, 189, 5);
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 20px;
    margin-left:10px;
}

.title{
      font-family: "Roboto", sans-serif;  
      font-size:21px;
}

.description{
     font-family: "Roboto", sans-serif;  
     font-size:26px;
}

.serviceOne{
      font-family: "Roboto", sans-serif;  
}

@media (max-width: 500px) {

.image{
    width:100%;
    align-items: center;
}

.cardPosition{
    flex-direction: column;
   }

.card{
    margin:5px;
    align-items: center;
    justify-content: center;
    }

.service{
    font-size: 17px;
    margin-top: 2%;
}

.button{
    padding:4px;
    width:60%;
    font-size: 12px;
    margin-bottom: 7px;
    margin-left:5px;
}

.title{
         font-size:18px;
}

.description{
     font-size:18px;
}

}
