.piccontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 margin:5%;
 flex-wrap: wrap;
}

.picture{

    width:350px;
    border-radius: 20px;
}

.textStyle{
        font-family: "Manrope", sans-serif;
        font-size: 23px;
      font-weight: 300;
}

.container{
    margin-left: 10%;
    margin-top: 5%;
}

.check{
    margin-right: 2%;
    color:rgb(147, 234, 9);
}

.textHow{
      font-family: "Manrope", sans-serif;
    margin-bottom: 2%;
    font-weight: 200;
}

.banya{
    width:500px;
    border-radius: 10px;
}

.btnTake{
    color:white;
    background-color: rgba(233, 96, 65, 0.912);
    font-size: 21px;
    font-weight: 500;
    padding:17px;
    border:none;
    border-radius: 20px;
    width:300px;
    margin-left: 30px;

    &:hover{
         background-color: rgb(232, 47, 6);
    }
}

.icon{
     font-size: 60px;
     margin-right: 10px;
}

@media (max-width: 500px) {

    .btnTake{
    font-size: 14px;
    font-weight: 500;
    padding:7px;
    border:none;
    border-radius: 20px;
    width:210px;
    margin-left: 10px;
}

.picture{
    width:60%;
    margin-bottom: 2%;
}

.textStyle{
        font-size: 16px;
}


.textHow{
    font-size: 23px;
    font-weight: 800;
}

.banya{
    width:80%;
}  

.container{
      width:80%;
}

.piccontainer{
display:flex;
flex-direction: column;
justify-content: center;
}

}

