.order{
    font-size: 16px;
    background:#48A111; 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: "Manrope", sans-serif;
width:200px;
margin-left: 90px;

&:hover{
 background: #25671E; 
 font-size: 18px;
}
}

@media (max-width: 500px) {


}