.btn{
    background-image: linear-gradient(to right, #4946ee 0%, #ed310b 100%);
    font-size: 19px;
    color:white;
    margin-left: 30px;
    padding:15px;
    border:none;
    border-radius: 5px;
    animation: anime 16s linear infinite;
    font-family: "Manrope", sans-serif;

&:hover{
 background-image: linear-gradient(to right, #ec1d0a 0%,  #4946ee 100%);
  font-size: 20px;
}

}