.order{
    font-size: 16px;
    background: linear-gradient(to right, #54f01a, #1f9002); 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: "Manrope", sans-serif;
    margin-left: 15px;


&:hover{
 background: linear-gradient(to right, #46f307, #154e07); 
 font-size: 18px;
}
}

@media (max-width: 500px) {


}