.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: rgba(247, 204, 247, 0.451);
     position: relative;

}

.marqueeContent {
    display: inline-block;
    animation: marquee 80s linear infinite; // Уменьшено время анимации для более быстрой прокрутки
    animation-play-state: running;
}

.paused .marqueeContent {
    animation-play-state: paused; // Остановка анимации при наведении
}

.review {
    display: inline-flex;
    align-items: center;
    margin-right: 30px; /* Отступ между отзывами */
}

.review img {
    width: 380px; /* Ширина изображения */
  
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.bag{
    display:flex;
    justify-content: center;
}

.answer{
        font-family: "Manrope", sans-serif;
        font-size: 65px;
        color:rgb(238, 185, 196);
        font-weight: 200;
      
}

@keyframes marquee {
    0% {
        transform: translateX(0); /* Начальное положение */
    }
    100% {
        transform: translateX(-50%); /* Конечное положение */
    }
}