.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  background-color: rgba(244, 194, 244, 0.451);
}

.marqueeContent {
    display: inline-block;
    animation: marquee 110s linear infinite; /* Длительность и тип анимации */
}

.review {
    display: inline-flex;
    align-items: center;
    margin-right: 30px; /* Отступ между отзывами */
}

.review img {
    width: 380px; /* Ширина изображения */
  
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.bag{
    display:flex;
    justify-content: center;
}

.answer{
        font-family: "Manrope", sans-serif;
        font-size: 65px;
        color:rgb(235, 87, 117);
        font-weight: 200;
}

@keyframes marquee {
    0% {
        transform: translateX(0); /* Начальное положение */
    }
    100% {
        transform: translateX(-50%); /* Конечное положение */
    }
}