.telephone{
    display:none;
     font-family: "Manrope", sans-serif;
     text-decoration: none;
     font-size: 25px;
     color:rgb(245, 112, 75);
     font-weight: 500;
 }

 .prime{
    margin-left: 20%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.phoneCall{
    font-size: 12px;
    margin-right: 15px;
}


@media (max-width: 500px) {
.telephone{
    display:block;
     font-family: "Manrope", sans-serif;
     text-decoration: none;
     font-size: 12px;
     color:rgb(245, 112, 75);
     font-weight: 500;
 }

 .prime{
    margin-left: 20%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.phoneCall{
    font-size: 12px;
    margin-right: 15px;
}

}
