
.container {
    position: relative; // Делаем родительский контейнер относительным
}

.imageContainer {
    position: relative; // Делаем контейнер с изображением относительным
}

.kayak {
    width: 100%; // Убедитесь, что изображение занимает всю ширину контейнера
    height: auto; // Сохраняем пропорции изображения

}

.imageContainer::after {
    content: ""; /* Создаем пустой контент для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование для наложения */
    top: 0; /* Начинаем с верхнего края */
    left: 0; /* Начинаем с левого края */
    right: 0; /* Растягиваем до правого края */
    bottom: 0; /* Растягиваем до нижнего края */
    background-color: rgba(0, 0, 0, 0.403); /* Черный цвет с прозрачностью 50% */
    z-index: 1; /* Убедитесь, что слой находится над изображением */
}

.textOverlay {
    position: absolute; // Делаем текст абсолютным
    top: 30%; // Центрируем по вертикали
    left: 35%; // Центрируем по горизонтали
    transform: translate(-30%, -30%); // Сдвигаем текст на половину его ширины и высоты для центрирования
    z-index: 2; 
    text-align: center; // Центрируем текст
}

.splav{
    color: white; 
    text-shadow: 1px 1px 2px rgba(68, 67, 67, 0.982); // Добавляем тень для лучшей читаемости текста
    font-size: 90px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

.river{
    color: white; // Цвет текста, можно изменить на любой другой
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.bag{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 244, 236, 0.484);
    border-radius: 20px;
width: 1000px;
margin-top: 20%;

}

.box{
    list-style: none;
}

.textBox{
   font-family: "Manrope", sans-serif;
   font-size: 29px; 
   font-weight:300;
   color:rgb(47, 58, 6);
}

.textTop{
     font-family: "Manrope", sans-serif;
   font-size: 29px; 
   font-weight:500;
   color:rgb(21, 13, 15)
}


@media (max-width: 500px) {

    .splav{
    margin-top: 7%;
    color: white; // Цвет текста, можно изменить на любой другой
    font-size: 28px;
    width:300px;
    font-weight: 600;
    margin-bottom: 5%;

}

.river{
   
    font-size: 12px;
    width:300px;
}

   

.kayak{
   width:100%;
border-radius:10%;

}

 .container{
    display:flex;
    align-items: center;
    justify-content: center;
}


.textOverlay {
    top: 25%; // Центрируем по вертикали
    left: 24%; // Центрируем по горизонтали
    transform: translate(-20%, -25%); // Сдвигаем текст на половину его ширины и высоты для центрирования
    font-size: 17px;
     line-height: 1.2; // Устанавливаем межстрочный интервал для лучшего восприятия
        margin: 0; // Убираем отступы
        display: flex;
        flex-direction: column; // Устанавливаем направление flex-элементов в столбик
        align-items: center; // Центрируем текст по горизонтали
}

.bag{

    flex-direction: row;
flex-wrap: wrap;
width: 270px;
margin-top: 1%;
}

.textBox{
font-weight: 600;
   font-size: 10px; 
   font-weight:600;
}

.textTop{

   font-size: 10px; 
font-weight: 100;
   
}

.icon{
     width: 13px; 
    height: 13px;
}

}