
.container {
    position: relative; // Делаем родительский контейнер относительным
}

.imageContainer {
    position: relative; // Делаем контейнер с изображением относительным
}

.kayak {
    width: 100%; // Убедитесь, что изображение занимает всю ширину контейнера
    height: auto; // Сохраняем пропорции изображения
}

.textOverlay {
    position: absolute; // Делаем текст абсолютным
    top: 30%; // Центрируем по вертикали
    left: 35%; // Центрируем по горизонтали
    transform: translate(-30%, -30%); // Сдвигаем текст на половину его ширины и высоты для центрирования
   
    text-align: center; // Центрируем текст
  
}

.splav{
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.982); // Добавляем тень для лучшей читаемости текста
  
    font-size: 90px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
   
    margin-bottom: 14%;

}

.river{
    color: white; // Цвет текста, можно изменить на любой другой
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.982); // Добавляем тень для лучшей читаемости текста
    font-size: 70px;
    font-family: "Manrope", sans-serif;
}

.bag{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 220, 0.573);
    border-radius: 20px;
width: 1000px;

}

.box{
    list-style: none;
}

.textBox{
   font-family: "Manrope", sans-serif;
   font-size: 29px; 
   font-weight:300;
   color:rgb(5, 17, 75)
}

.textTop{
     font-family: "Manrope", sans-serif;
   font-size: 29px; 
   font-weight:500;
   color:rgb(5, 17, 75)
}


@media (max-width: 500px) {

    .splav{
     background-color: rgba(214, 5, 43, 0.823);
      color: rgb(162, 247, 4); // Цвет текста, можно изменить на любой другой
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486); // Добавляем тень для лучшей читаемости текста
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5);
    font-size: 28px;
    width:300px;
    font-weight: 400;

    margin-bottom: 1%;

}

.river{
   
    font-size: 20px;
    
}

   

.kayak{
   width:100%;
border-radius:10%;

}

 .container{
    display:flex;
    align-items: center;
    justify-content: center;
}


.textOverlay {
    top: 25%; // Центрируем по вертикали
    left: 24%; // Центрируем по горизонтали
    transform: translate(-20%, -25%); // Сдвигаем текст на половину его ширины и высоты для центрирования
    font-size: 17px;
     line-height: 1.2; // Устанавливаем межстрочный интервал для лучшего восприятия
        margin: 0; // Убираем отступы
        display: flex;
        flex-direction: column; // Устанавливаем направление flex-элементов в столбик
        align-items: center; // Центрируем текст по горизонтали
}

.bag{

    flex-direction: row;
flex-wrap: wrap;
width: 270px;
}

.textBox{
font-weight: 600;
   font-size: 11px; 
   font-weight:600;
}

.textTop{

   font-size: 12px; 
font-weight: 200;
   
}

.icon{
     width: 13px; 
    height: 13px;
}

}