   .busket{
     display:flex;
    flex-direction: row;
    align-items: center;
   }

.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }



 .telephone{
     font-family: "Manrope", sans-serif;
     text-decoration: none;
     font-size: 29px;
     color:rgb(237, 55, 5);
     font-weight: 300;
     margin-left: 90px;
 }


.river{
     font-family: "Manrope", sans-serif;
     font-size: 21px;
     color:grey;
}

.prime{
    margin-left: 1px;
    display:flex;
    flex-direction: row;
}

.media{
display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    margin-left: 13%;
}



 .text{
    font-family: "Lobster", sans-serif;
    font-size: 25px;
    margin-right: 50px;
    
 }

 .tele{
    width:70px;

    &:hover{
        width:73px;
    }
}

.insta{
    width:60px;
}

.max{
    width:68px;
}

.riveCont{
    display:flex;
    flex-direction: column;

}


@media (max-width: 500px) {
       .busket{
     display:none;
    flex-direction: row;
    align-items: center;

   }
}
